.App {
  text-align: center;
  background-color: #282c34; 
  color: white; 
  font-family: Arial, sans-serif; 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.input-field {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  width: 300px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: gray;
  color: white;
  border: none;
  margin-top: 10px;
}

.message-container {
  margin-top: 20px;
  text-align: left;
  width: 80%;
  background-color: #282c34; 
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.generated-message {
  white-space: pre-line;
  font-size: 18px;
  line-height: 1.5;
  color: white; 
}
.loading-image {
  width: 50px; 
  height: 50px; 
}
